
body {
  background-image: url(../images/pokemon-bg.png);
  background-position: center;
  background-size: cover;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-header {
  background-color: rgba(255,211,61,0.5);
}

.card-header p {
  font-size: 34px;
}
.rules {
  font-size: 14px;
}

.score-row {
  height: auto;
}

.score-header {
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}

.score {
  background-color: rgba(255,211,61,0.5);
  border: 1px solid #ffd33d;
  border-radius: 50%;
  font-size: 44px;
  height: 90px;
  line-height: 90px;
  width: 90px;
}
